img {
  float: right;
  width:42% ;
  padding: 10px;
  background-color: rgb(244, 102, 67);
  
}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  font-style: oblique;
  color: slategray;
}

.jumbotron {
  padding: 80px;
  background-color: darkblue;
  color: whitesmoke;
  
}

.important{
  padding: 15 px;
  background-color: rgb(163, 195, 253);
  
}

.skills {
  margin: 2px;
  background-color: rgb(179, 236, 255);
  box-sizing: border-box;
}

.skills li {
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  color: rgb(185, 14, 14);
  font-style: oblique;
}

.special {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;  
}

.peach {
  color: slateblue;
  background-color: rgb(255, 190, 167);
  font-size: x-large;
  border: 6px solid rgb(9, 82, 219);  
}

