img {
  float: right;
  width:45% ;
  height:auto;
  padding: 25px;
}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

.jumbotron {
  border-width: 5px;
  border: black;
  padding: 40px;
  background-color: skyblue;
}

.important{
  padding: 15 px;
  background-color: cornflowerblue;
}

.skills {
  margin: 12px;
  border: 20 px solid green;
  background-color: olive;
  box-sizing: border-box;
}

.skills li {
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
}

.special {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;  
}

.peach {
  color: slateblue;
  background-color: coral;
  font-size: x-large;
  border: 20px solid green;
  
}