img {
  float: right;
  width:45% ;
  height:auto;
  padding: 25px;
  margin: 10px solid black;
}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  font-style: oblique;
  color: slategray;
}

.jumbotron {
  padding: 60px;
  background-color: skyblue;
}

.important{
  padding: 15 px;
  background-color: cornflowerblue;
}

.skills {
  margin: 2px;
  background-color: lightblue;
  box-sizing: border-box;
}

.skills li {
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
}

.special {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;  
}

.peach {
  color: slateblue;
  background-color: coral;
  font-size: x-large;
  border: 20px solid cornflowerblue;
  
}